@model IEnumerable<CryptoFolio.ViewModels.MyTransactionsViewModel>
@{
    ViewBag.Title = "View My Portfolio";
}




<table class="table table-striped table-hover table-dark">
    <thead>
        <tr>
            <th>  @Html.ActionLink("Coin Name", "ViewMyPortfolio", new { sortOrder = ViewBag.CoinNameSortParm })</th>
            <th>  @Html.ActionLink("Quantity", "ViewMyPortfolio", new { sortOrder = ViewBag.QuantitySortParm })</th>
            <th>  @Html.ActionLink("Coin Price", "ViewMyPortfolio", new { sortOrder = ViewBag.PriceSortParm })</th>
            <th>  @Html.ActionLink("Current Value", "ViewMyPortfolio", new { sortOrder = ViewBag.ValueSortParm })</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.CoinName</td>
            <td>@item.Quantity</td>
            <td>@item.CoinPrice</td>
            <td>@(item.CoinPrice * item.Quantity)</td>
            
        </tr>
        }
    </tbody>
</table>



