@model CryptoFolio.ViewModels.TransactionViewModel
@{
    ViewBag.Title = "CreateTransaction";
}

<h2>CreateTransaction</h2>
<hr />

@using (Html.BeginForm("CreateTransaction", "Home"))
{
    <div class="form-group">
        @Html.LabelFor(x => x.CoinID, "Coin")
        @Html.DropDownListFor(x => x.CoinID, new SelectList(Model.Coins, "CoinID", "Name"), "")
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Quantity, "Quantity")
        @Html.TextBoxFor(x => x.Quantity, new { placeholder = "Quantity" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.DatePurchased, "Date Purchased")
        @Html.TextBoxFor(x => x.DatePurchased, new { type = "date", placeholder = "Date Purhcased" })
        @* checking branchess *@
    </div>


    <button type="submit" class="btn btn-outline-success">Create</button>

}

