@model IEnumerable<CryptoFolio.Models.Coin>
@{
    ViewBag.Title = "Home";
}

<table class="table table-striped table-hover table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Symbol</th>
            <th scope="col">Price </th>
            <th scope="col">Circulating Supply</th>
            <th scope="col">Market Cap</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.CoinID</th>
                <td>@item.Name</td>
                <td>@item.Symbol</td>
                <td>$@item.Price</td>
                <td>@item.Supply @item.Symbol</td>
                <td>$@(item.Supply * item.Price)</td>
                <td><button class="btn btn-outline-warning">@Html.ActionLink("Add Transaction", "CreateTransaction", "Home",null)</button></td>
            </tr>
        }
    </tbody>
</table>





