<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CryptoFolio</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="bg-secondary">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        @Html.ActionLink("CryptoFolio", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                @Html.ActionLink("Home", "Index", "Home", new { @class = "nav-item nav-link" },null)
                @Html.ActionLink("Create Your Portfolio", "CreatePortfolio", "Home", new { @class = "nav-item nav-link" },null)
                @Html.ActionLink("Create A Transaction", "CreateTransaction", "Home", new { @class = "nav-item nav-link" },null)
            </div>
        </div>
        @Html.Partial("_LoginPartial")
    </nav>

    <div id ="vw85" class="container-fluid"> 
        <div class="jumbotron bg-dark text-white">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - CryptoFolio</p>
            </footer>
        </div>
    </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
