@model List<CryptoFolio.ViewModels.WatchListViewModel>
@{
    ViewBag.Title = "ViewWatchList";
}

<h2>ViewWatchList</h2>

<table class="table table-striped table-hover table-dark">
    <div>
        <button class="btn btn-outline-success">@Html.ActionLink("Market", "ViewMarket", "Market", null, new { @style = "color:white;" })</button>
        <button class="btn btn-danger">@Html.ActionLink("WatchList", "ViewWatchList", "WatchList", null, new { @style = "color:white;" })</button>
    </div>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Symbol</th>
            <th scope="col">Price </th>
            <th scope="col">Circulating Supply</th>
            <th scope="col">Market Cap</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.CoinID</th>
                
               
                <td>@item.Name</td>
                <td>@item.Symbol</td>
                <td>$@item.Price</td>
                <td>@item.Supply @item.Symbol</td>
                <td>$@(item.Supply * item.Price)</td>
                <td><button class="btn btn-outline-success">@Html.ActionLink("UnWatch", "RemoveFromWatchList", "WatchList", new { id = item.CoinID }, new { })</button></td>
                <td><button class="btn btn-outline-warning">@Html.ActionLink("Add Transaction", "ViewMarket", "Market", null, new { })</button></td>

            </tr>
        }
    </tbody>
</table>